doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Single page homepage
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #nav.nav
      ul
        li
          a(href='#home') Home
        li
          a(href='#about') About
        li
          a(href='#services') Services
        li
          a(href='#contact') Contact
    .container
      #home.bg
        div
          h1 Home
          span
            | MKVV ALUMNI SITE
      #about.bg
        div
          h1 About the School
          span
            | The main basic objective of the school is to provide man-making education as propounded by Swami Vivekananda. The objective includes Patriotism, love of God, Talent development, Spiritual development, Physical development and Intellectual development.
      #services.bg
        div
          h1 Vision
          span
            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      #contact.bg
        div
          h1 Contact us
          span
            | Sami Reddy Kandigai Periyar Nagar, G N T Road Gummidipoondi Thiruvallur Dist Pin:- 601 201 Ph : 27928648
      .newsletter
        p Hear something from us
        div
          | Email
          input(placeholder='your.email@example.com')
          button Submit
      .footer
        span This is the footer
        span
          a(href='/alumnilist') Home
        span
          a(href='#about') About
        span
          a(href='#services') Services
        span
          a(href='#contact') Contact
        span Lorem ipsum dolor sit amet
  
block scripts
  script(src='/js/views/dashboard.js')
  link(rel='stylesheet', href='/css/dashboard.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')